/SIDIS/** -text
/SIDIS/common/software/polymake-4.4.sif filter=lfs diff=lfs merge=lfs -text
/SIDIS/common/software/SubTropica-1.2.10/HyperFLINT/dist/macos-arm64/libhyperflint_librarylink.dylib filter=lfs diff=lfs merge=lfs -text
